body {

    /* height: 100%;
    display: flex; */
}
.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  /* background-image: url('../image/ro-in.png'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}
.mainContainer{
    /* background-color: blue; */
    /* border-style: solid;
    border-color:blue; */
    height: 100%;
    width:100%;
    margin-top: 75px;
    text-align: center;
}

.mainContainer-img{
    width:50%;
    height:20%;
    width:20%;
    margin: 0 auto;
    padding: 3px;
    display: inline-block;
}

img {
    height:100%;
    width:100%;
}

.container-socials{
    /* border-style: solid;
    border-color:red; */
    height: 100%;
    width:100%
}

.socials{
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.soc-thumbnails {
    float: left;
}

/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
} */

/* Change the link color on hover */
/* li a:hover {
  background-color: #555;
  color: white;
} */
