body {

    /* height: 100%;
    display: flex; */
}

h1 {
    font-family:Arial;
    color: 	#202020;
    font-size: 100%;
    line-height: 10px;
}

p{
    font-family:Arial;
    color: 	#202020;
    font-size: 100%;
    line-height: 10px;
}

.roinImg {
    height:100%;
    width:100%;
}

.roinImg:hover {
  height:100%;
  width:100%;

  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}
.mainContainer{
    /* background-color: blue; */
    /* border-style: solid;
    border-color:blue; */
    height: 100%;
    width:100%;
    margin-top: 75px;
    text-align: center;
}

.mainContainer-img{
    width:50%;
    height:20%;
    width:20%;
    margin: 0 auto;
    padding: 3px;
    display: inline-block;
}
.container-socials{
    /* border-style: solid;
    border-color:red; */
    height: 100%;
    width:100%
}

.socials{
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.soc-thumbnails {
    float: left;
}

/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
} */

/* Change the link color on hover */
/* li a:hover {
  background-color: #555;
  color: white;
} */
