
h1 {
    font-family:Arial;
    color: 	#202020;
    font-size: 100%;
    line-height: 10px;
}

p{
    font-family:Arial;
    color: 	#202020;
    font-size: 100%;
    line-height: 10px;
}
.centered {
 position: absolute;
 color: white;
 font-size: 24px;
 font-weight: bold;
 left: 150px;
 top: 350px;
}
.roinImg {
    height:100%;
    width:100%;
}
img{
    height:80%;
    width:90%;
}
/*

.roinImg:hover {
  height:100%;
  width:100%;

  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
} */


.mainContainer{
    /* background-color: blue; */
    /* border-style: solid;
    border-color:blue; */
    height: auto;
    width:auto;
    margin-top: 75px;
    text-align: center;
}
.mainContainer-mobile{
    /* background-color: blue; */
    /* border-style: solid;
    border-color:blue; */
    margin-top: 75px;
    text-align: center;
    max-width: 600px;
}

.mainContainer-img-mobile{
    margin: 0 auto;
    padding: 3px;
    display: inline-block;
    position: relative;

}

.mainContainer-img-mobile:Hover .overlay{
    opacity: 1;


}

.mainContainer-img{
    width:50%;
    height:30%;
    width:20%;
    margin: 0 auto;
    padding: 3px;
    display: inline-block;
    position: relative;
}
.mainContainer-img:Hover .overlay{
    opacity: 1;
}
.container-socials{
    /* border-style: solid;
    border-color:red; */
    height: 100%;
    width:100%
}

.socials{
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
}

.soc-thumbnails {
    float: left;
    padding: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    word-wrap: break-word;

    /* -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px); */
}
.gradient-text {
    /* Fallback: Set a background color. */
    background-color: red;

    /* Create the gradient. */
    background-image: linear-gradient(45deg, #f3ec78, #af4261);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.text {
    /* Fallback: Set a background color. */
    background-color: white;
    /* Create the gradient. */
    background-image: linear-gradient(45deg, #0242a3, #d6409f);
    /* Set the background size and repeat properties. */
    background-repeat: repeat;
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

    color: white;
    width: 300px;
    font-style: Arial;
    font-size: 12px;
    font-weight: bold;


    position: relative;
    top: 50%;
    left: 50%;


    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    word-wrap: break-word;
}


/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
} */

/* Change the link color on hover */
/* li a:hover {
  background-color: #555;
  color: white;
} */
